@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 전역 스타일 설정 */
:root {
    font-size: 15px;
    font-family: 'Noto Sans JP', sans-serif;
}

/* 스크롤바 스타일 설정 */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #5E6673;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

/* body 스크롤바 스타일 설정 */
body {
    overflow: auto;
}

body::-webkit-scrollbar {
    width: 0;
    height: 0;
}

body::-webkit-scrollbar-thumb {
    background: transparent;
}

body::-webkit-scrollbar-track {
    background: transparent;
}


/* input number 초기화 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}

/* Toast 애니메이션 */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(50px);
    }
}

.toast-item {
    opacity: 1;
    transform: translateY(0);
    will-change: opacity, transform;
}


/* VideoBg */
.video-bg video {
    position: relative;
    z-index: 0;
}

.video-bg::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.72) 0%, rgba(255, 255, 255, 0.45) 100%);
    -webkit-backdrop-filter: saturate(3);
    backdrop-filter: saturate(3);
    z-index: 1;
}

html.dark .video-bg::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(24, 26, 32, 0.72) 0%, rgba(24, 26, 32, 0.45) 100%);
    -webkit-backdrop-filter: saturate(3);
    backdrop-filter: saturate(3);
    z-index: 1;
}


